@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  height: 100vh;
  background: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Nunito', Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  background: url('/img/dithering.png'), linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.98) 25%, rgba(0,0,0,0.98) 75%, rgba(0,0,0,0) 100%);
  align-items: center;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav .active {
  color: #f88;
}

article.has-image {
  display: flex;
  gap: 5px;
}

article.has-image .image video {
  width: 200px;
}

.info {
  z-index: 1;
  color: #fff;
  width: 40%;
  height: 90%;
}

.title {
  display: flex;
  justify-content: center;
}

.title img {
  width: 25%;
  margin-bottom: 30px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right {
  width: 50%;
}

.animated-page * {
  opacity: 0;
  animation: fly-in 1s ease-out forwards;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.project {
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 10px;
  text-align: center;
}

.comment-archive {
  background: url(img/dithering.png), #1E1E2F;
  color: #C5C6E7;
}

.projects-grid a {
  text-decoration: none;
}

.omfgpop {
  background: url(img/omfgpop-background.jpg);
  background-size: cover;
}

.omfgpop img {
  width: 100%;
}

.night-vision {
  background: #000;
  color: #f00;
}

.night-vision img {
  width: 100%;
}

/* call me weird, but I like to write as much as I can 
   in CSS unless I absolutely need to use Javascript   */

/* Sass:
@for $i from 1 to 21
    .animated-page *:nth-child(#{$i})
        animation-delay: #{($i - 1) * 100}ms
*/

.animated-page *:nth-child(1) {
	animation-delay: 0ms;
}

.animated-page *:nth-child(2) {
	animation-delay: 200ms;
}

.animated-page *:nth-child(3) {
	animation-delay: 400ms;
}

.animated-page *:nth-child(4) {
	animation-delay: 600ms;
}

.animated-page *:nth-child(5) {
	animation-delay: 800ms;
}

.animated-page *:nth-child(6) {
	animation-delay: 1000ms;
}

.animated-page *:nth-child(7) {
	animation-delay: 1200ms;
}

.animated-page *:nth-child(8) {
	animation-delay: 1400ms;
}

.animated-page *:nth-child(9) {
	animation-delay: 1600ms;
}

.animated-page *:nth-child(10) {
	animation-delay: 1800ms;
}

.animated-page *:nth-child(11) {
	animation-delay: 2000ms;
}

.animated-page *:nth-child(12) {
	animation-delay: 2200ms;
}

.animated-page *:nth-child(13) {
	animation-delay: 2400ms;
}

.animated-page *:nth-child(14) {
	animation-delay: 2600ms;
}

.animated-page *:nth-child(15) {
	animation-delay: 2800ms;
}

.animated-page *:nth-child(16) {
	animation-delay: 3000ms;
}

.animated-page *:nth-child(17) {
	animation-delay: 3200ms;
}

.animated-page *:nth-child(18) {
	animation-delay: 3400ms;
}

.animated-page *:nth-child(19) {
	animation-delay: 3600ms;
}

.animated-page *:nth-child(20) {
	animation-delay: 3800ms;
}

@keyframes fly-in {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.stars {
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

.star {
  z-index: 0;
  position: absolute;
  width: 4px;
  border-radius: 50%;
  height: 4px;
  background-color: #fff;
}

.star-container {
  z-index: 0;
  position: absolute;
  width: 5px;
  height: 5px;
}

/* Sass:
@for $i from 1 to 21
  .star-container:nth-child(#{$i})
    transform: translateX(random(100)vw)
  .star-container:nth-child(#{$i}) .star
    animation: anim random(8)s linear infinite;
*/

.star-container:nth-child(1) {
  transform: translateX(10vw);
  animation: anim 6s linear infinite;
}

.star-container:nth-child(2) {
  transform: translateX(68vw);
}

.star-container:nth-child(2) .star {
  animation: anim 5s linear infinite;
}

.star-container:nth-child(3) {
  transform: translateX(81vw);
}

.star-container:nth-child(3) .star {
  animation: anim 6s linear infinite;
}

.star-container:nth-child(4) {
  transform: translateX(50vw);
}

.star-container:nth-child(4) .star {
  animation: anim 3s linear infinite;
}

.star-container:nth-child(5) {
  transform: translateX(96vw);
}

.star-container:nth-child(5) .star {
  animation: anim 8s linear infinite;
}

.star-container:nth-child(6) {
  transform: translateX(27vw);
}

.star-container:nth-child(6) .star {
  animation: anim 5s linear infinite;
}

.star-container:nth-child(7) {
  transform: translateX(31vw);
}

.star-container:nth-child(7) .star {
  animation: anim 2s linear infinite;
}

.star-container:nth-child(8) {
  transform: translateX(9vw);
}

.star-container:nth-child(8) .star {
  animation: anim 2s linear infinite;
}

.star-container:nth-child(9) {
  transform: translateX(3vw);
}

.star-container:nth-child(9) .star {
  animation: anim 7s linear infinite;
}

.star-container:nth-child(10) {
  transform: translateX(92vw);
}

.star-container:nth-child(10) .star {
  animation: anim 7s linear infinite;
}

.star-container:nth-child(11) {
  transform: translateX(88vw);
}

.star-container:nth-child(11) .star {
  animation: anim 7s linear infinite;
}

.star-container:nth-child(12) {
  transform: translateX(35vw);
}

.star-container:nth-child(12) .star {
  animation: anim 8s linear infinite;
}

.star-container:nth-child(13) {
  transform: translateX(51vw);
}

.star-container:nth-child(13) .star {
  animation: anim 4s linear infinite;
}

.star-container:nth-child(14) {
  transform: translateX(1vw);
}

.star-container:nth-child(14) .star {
  animation: anim 8s linear infinite;
}

.star-container:nth-child(15) {
  transform: translateX(45vw);
}

.star-container:nth-child(15) .star {
  animation: anim 6s linear infinite;
}

.star-container:nth-child(16) {
  transform: translateX(91vw);
}

.star-container:nth-child(16) .star {
  animation: anim 5s linear infinite;
}

.star-container:nth-child(17) {
  transform: translateX(23vw);
}

.star-container:nth-child(17) .star {
  animation: anim 2s linear infinite;
}

.star-container:nth-child(18) {
  transform: translateX(20vw);
}

.star-container:nth-child(18) .star {
  animation: anim 3s linear infinite;
}

.star-container:nth-child(19) {
  transform: translateX(95vw);
}

.star-container:nth-child(19) .star {
  animation: anim 2s linear infinite;
}

.star-container:nth-child(20) {
  transform: translateX(72vw);
}

.star-container:nth-child(20) .star {
  animation: anim 4s linear infinite;
}


@keyframes anim {
  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-30vh);
  }
}

@media screen and (max-width: 768px) {
  .info {
    width: 80%;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
  
}